.heading-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 360px 25px;
}

.heading-container .heading-container__left {
    display: flex;
    align-items: center;
}

.heading-container .heading-container__left > :not(:first-child) {
    margin-left: 80px;
}